
body {
  min-height: inherit;
}

a {
  color: #5996b2;
  text-decoration: none;
}

table {
  width: 80%;
  margin: 0 auto 0 auto;
}
td {
  text-align: left;
}

#intro img {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}
#intro {
  background-image: url("../images/stripclub.jpg");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 40vh;
  color:tomato;
  height: 100vh;

}

#intro h2 {
  margin: 0px;
  font-weight: 600;
  font-size: 5em;
}
#intro h4 {
  font-size: 2.2em;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.article_paragraph {
  max-width: 600px;
  margin: 18px auto;
}

#big-map-canvas {
  width: 100%;
  height: 100%;
  background: #838383;
  position:fixed;
  top:0;
  bottom: 0;
  z-index:-99;
}

#wrapper {
  position:absolute;
  height:100%;
  width:100%;
}

#big-map-canvas:hover {
  cursor: inherit;
}

#active-cases {
  padding: 0px 10px;
  height: 60vh;
  overflow-y: scroll;
  background-color: #676767;
}

.active-case em {
  padding-bottom: 10px;
  display: inline-block;
}

.active-case a {
  color: tomato;
  cursor: pointer;
}

.resetButton {
  color: black;
}

article.container {
  background: #414142;
  color: #d8d8d8;
  opacity: 0.9;
  width: 50%;
  max-width: 600px;
  float: left;
}

article {
  letter-spacing: .2px;
}

article h1 {
  color: tomato;
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}

article h2, h4 {
  width: 90%;
  margin: 10px 0px 20px 20px;
  color: #fff;
}

article h2.subhead {
  color: #fff;
  text-align: center;
  margin: 32px auto 2px;
}

section {
  margin-top: 25px;
}

footer {
  display: none;
}

.chosen-container {
  width: 100% !important;
  padding-bottom: 10px;
}

.leaflet-control-zoom {
  display: none;
}

.leaflet-container .leaflet-control-attribution {
  background: none;
  color: #d8d8d8;
}

.leaflet-container .leaflet-control-attribution a {
  color: #d8d8d8;
}
.stats {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
}
#big-stats{
  color:tomato;
}

.stats {
  text-align: left;
  font-weight: bold;
  font-size: 40px;
}

/* Style the accordion panel. Note: hidden by default */
.questions p, .questions ul {
  color: black;
}

div.questions {
  padding: 10px;
  background-color: #cecece;
  display: none;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  background-color: #676767;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  margin-bottom: 1px;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.accordion:before {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: left;
  margin-right: 5px;
}

button.accordion.active:before {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
  background-color: #777;
}

.highlight {
  color:tomato;
}


/*mobile stylying*/
@media(max-width: 600px) {
  .container {
    padding: 0 0 0 0;
    height: 50%;
    position: absolute;
    bottom: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  #big-map-canvas {
    height: 50%;
    position: absolute;
    top: 0px;
  }

  #active-cases {
    height: 25vh;
  }
  article.container {
    margin-top: 200px;
    background: none;
    width: 100%;
    opacity: 0.9;
  }

  article.container header, article.container section, article.container aside {
    background: #414142;
    margin: 0;
    padding: 5px;
  }

  article p {
    margin: 0 auto;
    padding: 18px 0;
  }

  .hoodlabel {
    font-size: 18px;
    line-height: 18px;
  }

  .vis_bullet {
    opacity: 0;
  }

  .leaflet-control-attribution, .leaflet-control-zoom {
    display: none;
  }
}
/*end mobile styling*/
